body { background:#ebebeb; }
h2 { color:#373737; } 
a { color:#414141; }

/* HEADER  */
#top { background:#373737; }

#nav {  background:#292929 url(/images/templates/2/nav-bg.jpg) repeat-x 0 0; }
#nav li { background: transparent url(/images/templates/2/nav-separator.jpg) no-repeat 100% 0; }
#nav li a:hover { background:#292929; }

/* CONTENT  */
h2.page-title { background:#fff url(/images/templates/2/title-decoration.jpg) no-repeat 0 30px; }
.pawprint { width:36px; height:29px; background:#fff url(/images/templates/2/pawprint.jpg) no-repeat 0 0; display:inline-block; zoom:1; *display:inline; vertical-align:middle; }

/* PET TALES */
.small_tale_box_title { color:#414141; font-family: 'Unkempt', cursive; font-size:30px; font-weight:700; }
.small_tale_box_tm { color:#414141; }
.small_tale_share_btn { color:#414141; border:1px solid #414141; }
.small_tale_share_btn:hover { background:#ebebeb; }

.pet_tales_add { color:#414141; border:1px solid #414141; }
.pet_tales_add:hover { background:#ebebeb; }

#pet_tale_buttons a { color:#414141; border:1px solid #414141; }
#pet_tale_buttons a:hover { background:#ebebeb; }
h3.pet_tale_title { color:#414141; }

.pet_tale_media_container { background:#ebebeb; border:1px solid #c4c4c4; }

.formtags { color:#373737; }
.formtag_container { background: #efefef; }
.formheads_container { background:#373737; }
.pet_tale_form { border-color:#373737; background:#f3f3f3; }
.formheads { color:#ebebeb; }

tr.odd { background-color: #efefef; }
tr.even { background-color: white; }
tr.even td.sorting_1 { background-color: white; }
tr.odd td.sorting_1 { background-color: #efefef; }

/* LOCATIONS */
.location_name { color: #414141; }

/* FOOTER  */
#footer { background:#373737; color:#e0e0e0; }
#footer a { color:#e0e0e0; }