body { background:#ecead6; }
h2 { color:#324b2d; } 
a { color:#324b2d; }

/* HEADER  */
#top { background:#324b2d; }

#nav {  background:#62861d url(/images/templates/7/nav-bg.jpg) repeat-x 0 0; }
#nav li { background: transparent url(/images/templates/7/nav-separator.jpg) no-repeat 100% 0; }
#nav li a:hover { background:#917328; }

/* CONTENT  */
h2.page-title { background:#fff url(/images/templates/7/title-decoration.jpg) no-repeat 0 30px; }
.pawprint { width:36px; height:29px; background:#fff url(/images/templates/7/pawprint.jpg) no-repeat 0 0; display:inline-block; zoom:1; *display:inline; vertical-align:middle; }
.pawprint_center { background:#fff url(/images/templates/7/pawprint.jpg) no-repeat 50% 0; }


/* PET TALES */
.small_tale_box_title { color:#324b2d; font-family: 'Unkempt', cursive; font-size:30px; font-weight:700; }
.small_tale_box_tm { color:#324b2d; }
.small_tale_share_btn { color:#324b2d; border:1px solid #324b2d; }
.small_tale_share_btn:hover { background:#dde9da; }
.small_pet_tale_box_image { background:#fff; border-collapse:collapse; border:2px solid #324b2d; }

.pet_tales_add { color:#324b2d; border:1px solid #324b2d; }
.pet_tales_add:hover { background:#dde9da; }

#pet_tale_buttons a { color:#324b2d; border:1px solid #324b2d; }
#pet_tale_buttons a:hover { background:#dde9da; }
h3.pet_tale_title { color:#324b2d; }

.pet_tale_media_container { background:#ecead6; border:1px solid #d5bb7d; }

.formtags { color:#324b2d; }
.formtag_container { background: #efefef; }
.formheads_container { background:#324b2d; }
.pet_tale_form { border-color:#324b2d; background:#f3f3f3; }
.formheads { color:#ecead6; }

tr.odd { background-color: #f3f1e1; }
tr.even { background-color: white; }
tr.even td.sorting_1 { background-color: white; }
tr.odd td.sorting_1 { background-color: #f3f1e1; }

/* LOCATIONS */
.location_name { color: #324b2d; }

/* FOOTER  */
#footer { background:#324b2d; color:#ecead6; }
#footer a { color:#ecead6; }